* {
  margin: 0;
  padding: 0;
}
a:link,
a:visited,
a:active .com {
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background: cover;
  background: linear-gradient(to right, #f12711, #f5af19);
}

.header_wrapper {
  width: 100%;
  min-width: 1000px;
  background-color: transparent;
  position: fixed;
  background: #0009;
  height: 75px;
}
.header {
  width: 30%;

  display: flex;
  float: left;
  margin: 0px auto;
  padding: 0px;
  margin-left: 10%;
}

.header .mh-header-primary svg {
  margin-top: 18px;
  height: 43px;
  color: white;
}

nav ul {
  float: right;
  width: 38%;
  display: flex;
  font-weight: bold;
  margin-right: 5%;
  
}

nav ul li {
  font-size: 16px;
  display: flex;
  color: white;
  
}
nav ul li a {
  color: white;
  font-family: "Didact Gothic", sans-serif;

  margin: 25px;
}

div .verticalline {
  width: 1px;
  background-color: white;
  height: 18px;
  border: 0.5 px solid white;
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.wrapper {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 100%;
  display: flex;
  background-color: whitesmoke;
  height: 220px;
  
}

.wrapper .wrap {
  text-align: center;
  width: 100%;
  margin-left: 7%;
  margin-top: 45px;
}

.wrapper .wrap .covid {
  margin-top: 70px;
  text-align: left;
  width: 100%;
  height: 20px;
  color: rgb(52, 52, 240);
  font-size: x-large;
  margin-left: 3%;
  display: flex;
  font-family: "Didact Gothic", sans-serif;
}

.wrapper .wrap .covid2 {
  text-align: left;
  width: 100%;
  height: 100px;
  margin-left: 3%;
  display: flex;
  margin-top: 20px;
  font-family: "Didact Gothic", sans-serif;
}

.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: auto;
  text-decoration: none;
  width: 60%;
}

.row h1 {
  display: flex;
  margin-top: 280px;
  justify-content: center;
  margin-left: 10%;
  font-size: 80px;
  font-weight: 900;

  color: white;
  font-family: "Heebo", sans-serif;
}

.row2 h4 {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  font-size: 17px;
  font-weight: bold;
  color: white;
  font-family: "Didact Gothic", sans-serif;
}

#generic-btn-premium:hover {
  transition: linear;
  background-color: rgb(56, 207, 56);
}
.button {
  display: flex;
  position: relative;
  margin-left: 35%;
  width: 40%;
}

#generic-btn-premium {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  text-align: center;
  margin-top: 30px;
  font-size: 17px;

  font-family: "Raleway", sans-serif;
  color: white;
  background-color: rgb(10, 156, 10);
  border-radius: 30px;
  box-sizing: border-box;
  transition: all 0.5s;
  line-height: 0.5px;
}

.footer_wrapper {
  display: flex;
  width: 100%;
  height: 560px;
  background-color: black;
  margin-top: 370px;
}

.mh-footer-hover {
  margin-top: 80px;
  margin-left: 10.25%;
  height: 20px;

  width: 9%;
}
.footer_primary {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 200px;
  text-align: start;
  margin-top: -30px;
}

.text a {
  display: flex;
  margin-top: 15px;
  color: white;
  font-family: "Didact Gothic", sans-serif;
  text-align: left;
}

.list1 {
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  font-size: 16px;
}
.com {
  color: rgb(133, 131, 131);
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-start;
}

div .social-media {
  width: 120px;
  height: 50px;
  margin-top: -325px;
  align-items: flex-start;
  margin-left: 860px;
}

.icons {
  font-size: 1.2rem;
}

div .mh-country {
 display: inline-flex;
align-items: flex-end;
  margin-left: 1060px;
  margin-top: 280px;
}
.mh-country a{
font-size: 13px;
margin-right: 2px;
margin-top: 8px;
}
.mh-country img{

margin-left: 7px;
height: 16px;

}

.mh-bottom-links {
display: flex;
width: 1170px;
height: 43px;


}

.svelte-19l7cif {
  
  width: auto;
text-align: left;
  font-family: "Didact Gothic", sans-serif;
  margin: -70px;
  justify-content: center;
 margin-top: -10px;
 
}

.svelte-19l7cif a{
font-size: 12px;
width: 180px;
vertical-align: auto;
display: flex;

font-family: "Didact Gothic", sans-serif;

color: rgb(133, 131, 131);

}

.svelte-1so9ic8{
display: flex;
margin-top: 12px;
margin-left: 482px;
text-align: right;
height: 15px;
}